* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fbfeff;
}

.container {
  height: 100vh;
  max-width: 822px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container-section {
  position: absolute;
  display: grid;

  grid-template-columns: auto auto;
  row-gap: 10px;
  column-gap: 20px;

  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 40px 0;
}

.container-section form {
  width: 380px;
  height: 512px;
  padding: 30px;

  background-color: #fff;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
  border-radius: 15px;

  animation-name: fade;
  animation-duration: 1s;
}

.container-section > div img {
  width: 380px;
  overflow: hidden;
  animation: animateIconHouse 2s;
}

.container-section footer {
  grid-column-start: 2;
  grid-column-end: 2;
}

.container-section footer p {
  padding: 0;
  margin: 0;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #888;

  animation: fade 600ms;
}

.container-section footer strong {
  font-weight: 500;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.form-group {
  font-size: 16px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.form-group input {
  font-size: 16px;
  width: 100%;
  height: 42px;
  margin-bottom: 16px;
  padding: 12px;

  background: #ffffff;
  color: #ccc;
  border: 1px solid #cccccc;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

#btn {
  float: right;
  padding: 0 40px;
  height: 42px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;

  background: #fafafa;
  border: 1px solid #cccccc;
  border-radius: 8px;
}

#btn:hover {
  background-color: #f2f3de;
}

.danger {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 22px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;

  width: 267px;

  background: rgba(254, 146, 146, 0.8);
  box-shadow: 0px 4px 12px rgba(255, 70, 70, 0.2);
  border-radius: 8px;

  position: absolute;
  top: 20px;
  right: 30px;
}

.error {
  animation-name: fadeDanger;
  animation-duration: 300ms;
  animation-iteration-count: 2;
}

@keyframes fadeDanger {
  0% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-4%);
  }
  70% {
    transform: translateX(4%);
  }
  100% {
    transform: translateX(0);
  }
}

.rectangles {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.rectangle-large {
  position: absolute;
  width: 90%;
  height: 100vh;
  top: 0;
  right: 0;

  background: url(/assets/rec_large.png) no-repeat;
  background-size: 100% 100vh;

  animation: animate 1.5s;
}

.rectangle-lower {
  position: absolute;
  width: 80%;
  height: 60vh;
  top: 0;
  right: 0;

  background: url(/assets/rec_lower.png) no-repeat;
  background-size: 100% 60vh;

  animation: animate 2.5s;
}

@keyframes animate {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes animateIconHouse {
  from {
    opacity: 0;
    transform: translateX(60%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
