@media screen and (max-width: 1080px) {
  body {
    font-size: 0.85rem;
  }

  .container-section {
    column-gap: 50px;
    width: 720px;
  }

  .container-section form {
    height: 470px;
    padding: 20px;
  }

  .form-group input {
    font-size: 0.85rem;
    height: 40px;
    padding: 10px;
  }

  #btn {
    padding: 0 38px;
    height: 40px;
    font-size: 0.85rem;
  }

  .container-section > div img {
    width: 18rem;
  }

  .container-section footer p,
  .container-section footer a {
    color: #333;
  }
}

@media screen and (max-width: 720px) {
  .container {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    margin: 0;
  }

  .container-section {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .container-section form {
    height: 500px;
    width: 100vw;
    padding: 10px 20px;
    border-radius: 0;
  }

  .form-group label {
    margin-top: 10px;
  }

  .form-group input {
    font-size: 0.85rem;
    height: 40px;
    margin-bottom: 8px;
  }

  .rectangle-large,
  .rectangle-lower {
    display: none;
  }

  .container-section footer p {
    text-align: center;
    color: #888;
  }

  .container-section footer a {
    color: #888;
  }

  .container-section footer {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin: 40px 0;
  }

  .container-section > div.Image-house {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;

    margin: 20px 0;
  }

  .danger,
  .success {
    left: 0;
    width: 100%;
  }

  #btn {
    margin-top: 20px;
  }

  @keyframes animateIconHouse {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}
