* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: "Roboto", sans-serif;
  background: #f5f6fb;

  font-size: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  max-width: 980px;
  margin: 0 auto;
}

.container-section {
  position: absolute;
  display: grid;

  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 90px;

  justify-content: space-between;
  align-items: center;

  height: 100vh;
  width: 880px;
  padding: 40px 0;
}

.container-section form {
  height: 512px;
  width: 100%;
  padding: 30px;

  background-color: #fff;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.12);
  border-radius: 15px;

  animation-name: fade;
  animation-duration: 1s;
}

.form-group label {
  display: block;
  margin-bottom: 5px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;

  color: #333;
}

.form-group input {
  height: 42px;
  width: 100%;

  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: #ccc;
  border: 1px solid #cccccc;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 12px;

  font-weight: 500;
  font-size: 1rem;
}

#btn {
  float: right;
  padding: 0 40px;
  height: 42px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #666;

  background: #fafafa;
  border: 1px solid #cccccc;
  border-radius: 8px;
}

#btn:hover {
  background-color: #fbfeff;
}

.container-section > div img {
  width: 22rem;

  overflow: hidden;
  animation: animateIconHouse 2s;
}

.container-section footer {
  grid-column-start: 2;
  grid-column-end: 2;
}

.container-section footer p {
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #888;

  padding: 0;
  margin: 0;

  animation: fade 600ms;
}

.container-section footer a {
  text-decoration: none;
  color: #888;
}

.container-section footer a:hover {
  color: #666;
}

.container-section footer strong {
  font-weight: 500;
}

.danger,
.success {
  position: fixed;
  text-align: center;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  padding: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;

  color: #fff;

  width: 267px;
  bottom: 30px;
  right: 30px;
}

.danger {
  background: rgba(254, 146, 146, 0.8);
  box-shadow: 0px 4px 12px rgba(255, 70, 70, 0.2);
}

.success {
  background: rgba(58, 156, 56, 0.8);
  box-shadow: 0px 4px 12px rgba(74, 255, 70, 0.2);
}

.fadeAnimateWarning {
  animation-name: fadeWarning;
  animation-duration: 300ms;
  animation-iteration-count: 2;
}

.rectangles {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.rectangle-large,
.rectangle-lower {
  display: flex;
  position: absolute;
  background: no-repeat;
  right: 0;
  animation: animate 1.5s;
}

.rectangle-lower {
  animation: animate 2.5s;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes animate {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes animateIconHouse {
  from {
    opacity: 0;
    transform: translateX(60%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeWarning {
  0% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-4%);
  }
  70% {
    transform: translateX(4%);
  }
  100% {
    transform: translateX(0);
  }
}
